@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto+Condensed:wght@300;400;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  display: absolute;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fafafa;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  display: absolute;
}

.upload-post-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fafafa;
}
.panel {
  display: flex;
}

.upload-container {
  height: 350px;
  width: 430px;
}

.upload-container .upload-wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-wrapper.active {
  border: none;
  margin-right: 0;
}

.upload-wrapper .upload-image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-wrapper .upload-image .upload-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-wrapper .upload-icon {
  font-size: 100px;
  /* color: #9658fe; */
  color: #d1d1d1;
  cursor: pointer;
}

.upload-icon-position {
  position: relative;
}

.upload-wrapper .upload-text {
  font-size: 20px;
  font-weight: 500;
  /* color: #5b5b7b; */
  color: #4c4c4c;
}

.upload-wrapper #upload-cancel-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 40px;
  cursor: pointer;
  color: #9658fe;
  display: none;
}

.upload-wrapper.active:hover #upload-cancel-btn {
  display: block;
}

.upload-wrapper #upload-cancel-btn:hover {
  color: #e74c3c;
}

#upload-mainpage-cancel-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 60px;
  cursor: pointer;
  color: black;
}
#upload-mainpage-cancel-btn:hover {
  color: #e74c3c;
}

.upload-wrapper .upload-file-name {
  position: absolute;
  width: 100%;
  padding: 8px 0;
  bottom: 0px;
  width: 100%;
  font-size: 18px;
  /* color: #fff; */
  /* background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%); */
  /* background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%); */
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
}

.upload-wrapper.active:hover .upload-file-name {
  display: block;
}

.right-wrapper .right-upload-file-name {
  position: absolute;
  width: 100%;
  padding: 8px 0;
  bottom: 0px;
  width: 100%;
  font-size: 18px;
  /* color: #fff; */
  /* background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%); */
  /* background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%); */
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: block;
}

#upload-next-btn {
  font-size: 30px;
  cursor: pointer;
  color: #d1d1d1;
  display: none;
}
#upload-next-btn:hover {
  color: #6b33ff;
}

#right-upload-next-btn {
  font-size: 30px;
  cursor: pointer;
  color: #d1d1d1;
  display: block;
}
#right-upload-next-btn i:hover {
  color: #6b33ff;
}

.right-wrapper #upload-back-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 40px;
  cursor: pointer;
  color: #9658fe;
  display: none;
}

.right-wrapper #upload-back-btn:hover {
  color: #e74c3c;
}

.upload-container #upload-custom-btn {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  display: block;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  /* color: #fff; */
  /* background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%); */
  /* background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%); */
  background: #d1d1d1;
  color: #4c4c4c;
}

.right-wrapper {
  border-left: 0px !important;
}

/*-----------------------------------------------------------------------------------------------------*/

.caption-upload-content {
  position: relative;
  width: 100%;
  height: 100%;
}
/*Post*/
.caption-post {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background: #fff !important;
  /* border: 1px solid #dfdfdf !important; */
}

.caption-profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.caption-profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.caption-username {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: rgba(185, 104, 104, 0.5);
}

.caption-info {
  width: 100%;
  height: 60px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px !important;
  flex: none !important;
}

.caption-info .caption-username {
  width: auto;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.caption-info .caption-user {
  display: flex;
  align-items: center;
}

.caption-info .caption-profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.caption-body {
  position: relative;
  width: 100% !important;
  height: 65% !important;
}
.caption-text-area {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 2% 20px 0 20px;
  font-size: 14px;
}

.caption-text-area:active,
.caption-text-area:focus {
  border: none;
  outline: none !important;
}

/*---------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 430px) and (max-width: 870px) {
  .right-panel {
    display: none;
  }
  /* .left-panel {
    display: none;
  } */
  .right-wrapper {
    border-left: 2px dashed #c2cdda !important;
  }
  .file-name {
    display: none;
  }
  #upload-next-btn {
    display: block;
  }

  .right-wrapper:hover #upload-back-btn {
    display: block;
  }
}

@media only screen and (max-width: 430px) {
  html,
  body {
    display: block;
    margin: auto;
    height: 100%;
  }
  .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
  }
  .right-wrapper {
    border-left: 2px dashed #c2cdda !important;
  }
  .right-panel {
    display: none;
    vertical-align: middle;
  }
  .file-name {
    display: none;
  }
  #upload-next-btn {
    display: block;
  }
  .left-panel {
    display: block;
    width: 90%;
  }

  .upload-wrapper.active #upload-cancel-btn {
    display: block;
  }

  .upload-wrapper.active .upload-file-name {
    display: block;
  }

  .right-wrapper #upload-back-btn {
    display: block;
  }
}
